@using Pdf_Acc_Toolset.Services.Util;
@using System.ComponentModel.DataAnnotations;

<h3 class="text-2xl font-bold">Password Protection</h3>

<p>
    This PDF has a password. You must enter the password to modify it.
    Both the PDF and the password will never leave your device.
</p>

<EditForm Model="@model" class="flex flex-row space-x-2 mt-2" OnSubmit="@SubmitPassword">
    <div>
        <label for="password">Password:</label>
        <InputText id="password" name="password" type="password" @bind-Value="model.Password"
            class="mt-2 bg-gray-800 rounded-md p-2 text-green-400" />
    </div>
    
    <button class="bg-cyan-700 hover:bg-cyan-600 rounded-lg py-4 cursor-pointer px-2" type="submit">Submit</button>
</EditForm>


@code {
    [Parameter]
    public EventCallback<string> OnPasswordSubmit { get; set; }

    private PasswordModel model { get; set; } = new("");

    private void SubmitPassword()
    {
        if (IsPasswordValid()) {
            OnPasswordSubmit.InvokeAsync(model.Password);
        } else {
            NotificationUtil.Inform(NotificationType.Error, "You must enter a password");
        }
    }

    private bool IsPasswordValid()
    {
        // Prvent no text submission.
        return model.Password != null && model.Password.Length > 0;
    }

    class PasswordModel
    {
        [Required]
        public string Password;

        public PasswordModel(string password)
        {
            this.Password = password;
        }
    }
}