@* Copyright (C) Jonathan Shull - See license file at github.com/amytho/pdf-acc-toolset *@
@using Pdf_Acc_Toolset.Services;
@using Pdf_Acc_Toolset.Services.Tools;
@using Pdf_Acc_Toolset.Services.Tools.Canvas;
@using Pdf_Acc_Toolset.Services.Util;
@using Pdf_Acc_Toolset.Pages.Selection;
@using System.ComponentModel.DataAnnotations;
@using iText.Kernel.Pdf.Tagutils;
@using iText.Kernel.Colors;

<h3 class="text-xl font-semibold">Color Replacer</h3>

<p class="text-lg">
    Find a given color of text or a path and replace it. This is primarily used to fix color contrast issues.
    See <a target="_blank" title="Color Replacer" href="https://docs.pdf-accessibility.tools/docs/tools/color/r">Documentation</a> for more information.
</p>

<p class="text-lg mt-4">This tool requires a target and replacement color to be specified. This only applies to paths (shapes) and text. Images, X-Objects, and other elements are not included. Fill is the inner color and stroke is the outer color.</p>

<EditForm Model="@model" OnSubmit="@Submit" class="text-lg mt-4">
    <DataAnnotationsValidator />
    <div class="flex flex-wrap flex-col md:flex-row justify-around px-8 md:space-x-4 space-y-4 md:space-y-0">
        <div>
            <label for="colorCategory">Color Category:</label>
            <select class="bg-gray-800 rounded-md p-2 text-green-400" name="colorCategory" id="colorCategory">
                @foreach (var attr in Enum.GetValues(typeof(ColorPart)))
                {
                    <option value="@attr">@attr</option>
                }
            </select>
        </div>
        <div class="cursor-not-allowed">
            <label for="targetColor">Target Color (will be replaced):</label>
            <input type="color" id="targetColor" class="bg-gray-800 rounded-md p-2 text-green-400" disabled @bind="colorTargetInHex" />
        </div>
        <div>
            <label for="replaceColor">Replacement Color: </label>
            <input type="color" id="replaceColor" class="bg-gray-800 rounded-md p-2 text-green-400" @bind="model.replaceColor" />
        </div>
    </div>

    @* Request the selection to insert into *@
    <div class="hidden">
        <Selection OnSelectionChanged="OnSelectionUpdated" />
    </div>

    <hr class="w-11/12 text-center m-4" />

    @if (!colorsLoaded) {
    <div>
        Loading document colors...
    </div>
    } else {
    <p class="mt-4">
        Select a color to replace. These colors may differ very slightly compared to the source document.
    </p>

    <div class="flex w-full mx-2 gap-x-4 justify-around mt-4" id="existingColors">
        <div>
            <h4 class="text-lg text-center font-semibold">Fill Colors</h4>
            <Pdf_Acc_Toolset.Pages.Tools.helpers.PdfColor Colors="documentFillColors" OnColorSelected="OnColorSelected"/>
        </div>
        <div>
            <h4 class="text-lg text-center font-semibold">Stroke Colors</h4>
            <Pdf_Acc_Toolset.Pages.Tools.helpers.PdfColor Colors="documentStrokeColors" OnColorSelected="OnColorSelected"/>
        </div>
    </div>
    }

    <div class="flex flex-wrap w-full mt-4 space-x-2">
        <button type="button" class="grow bg-rose-800 hover:bg-rose-700 rounded-lg py-4 cursor-pointer" @onclick="Reset">Reset</button>
        <input class="grow bg-cyan-700 hover:bg-cyan-600 rounded-lg py-4 cursor-pointer" type="submit" value="Add Task" />
    </div>
</EditForm>


@code {
    [Parameter]
    public EventCallback OnTaskAdded { get; set; }
    private ColorModel model { get; set; }

    private List<Color> documentFillColors = new ();
    private List<Color> documentStrokeColors = new ();
    private bool colorsLoaded = false;
    private string colorTargetInHex;

    private Selection.SelectionModel SelectionModel { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        this.model = new();
        await this.DisplayExistingColors();
        this.colorsLoaded = true;
    }


    private void Reset()
    {
        model.findColor = DeviceRgb.WHITE;
        model.replaceColor = "#ffffff";
    }


    private void CheckForMatch()
    {
        SelectionValidator.CheckSelectionMatches(SelectionModel);
    }


    private void OnSelectionUpdated(Selection.SelectionModel selectionModel)
    {
        SelectionModel = selectionModel;
    }


    private void Submit()
    {
        Color replace = GetColorFromInput(model.replaceColor);

        // We don't use the selection in this tool, but it is required for every task.
        TagTreePointer pointer = PdfManager.GetTagRoot();
        Pdf_Acc_Toolset.Services.Tools.Selection.Selection selection = SelectionValidator.CreateSelection(SelectionModel, pointer);

        // Create the task
        Services.Tools.ColorReplacer replacer = new(
            PdfManager.GetDocument(), selection, model.findColor, replace, model.colorPart
        );
        // Add the task to the queue
        TaskManager.AddTask(replacer);

        // Close the tool window
        OnTaskAdded.InvokeAsync();
    }

    private Color GetColorFromInput(string input)
    {
        var color = System.Drawing.ColorTranslator.FromHtml(input);
        return new DeviceRgb(color.R, color.G, color.B);
    }

    private async Task DisplayExistingColors()
    {
        await Task.Run(() => {
            // Search for all colors
            PdfColorFinder finder = new();
            finder.Find(PdfManager.GetDocument().GetPdfDocument());

            // Retrieve them
            documentFillColors = finder.GetFillColors();
            documentStrokeColors = finder.GetStrokeColors();
        });
    }

    private void OnColorSelected(Color color)
    {
        model.findColor = color;

        // Update the target color so the user knows it was changed
        colorTargetInHex = ColorUtil.ConvertToHex(color);
    }


    public class ColorModel
    {
        public Color findColor { get; set; }
        public string replaceColor { get; set; } = "#ffffff";
        public ColorPart colorPart { get; set; } = ColorPart.Fill;
    }
}
