@using Pdf_Acc_Toolset.Services;
@using Pdf_Acc_Toolset.Services.Tools;
@using Pdf_Acc_Toolset.Services.Util;
@using Pdf_Acc_Toolset.Pages.Selection;
@using System.ComponentModel.DataAnnotations;
@using iText.Kernel.Pdf.Tagutils;

<h3 class="text-xl font-semibold">List Generator</h3>

<p class="text-lg">
    Generate a list using the options below. You must generate at least 1 list item.
    The title is for making the list item easier to identify if you are inserting multiple lists.
    If the Label box is checked, a Lbl tag will be inserted with each list item.
    See List Documentation for more information.
</p>


<EditForm Model="@Model" OnSubmit="@Submit" class="text-lg mt-4">
    <DataAnnotationsValidator />
    <div class="flex flex-wrap flex-col md:flex-row justify-between px-8 md:space-x-4 space-y-4 md:space-y-0">
        <div>
            <label for="title">List Title: </label>
            <InputText id="title" class="bg-gray-800 rounded-md p-2 text-green-400" @bind-Value="Model.title" />
        </div>
        <div>
            <label for="amnt">List Amount: </label>
            <InputNumber id="amnt" class="bg-gray-800 rounded-md p-2 text-green-400" @bind-Value="Model.amountOfItems"
                min="1" max="999" />
        </div>
        <div class="md:self-center">
            <label for="lbl">Add Labels?</label>
            <InputCheckbox id="lbl" class="bg-gray-800 rounded-md p-2 text-green-400" @bind-Value="Model.addLabels"
                checked />
        </div>
    </div>

    @* Request the selection to insert into *@
    <div>
        <Selection OnSelectionChanged="OnSelectionUpdated" />
    </div>

    <div class="flex flex-wrap w-full mt-4 space-x-2">
        <button type="button" class="grow bg-rose-800 hover:bg-rose-700 rounded-lg py-4 cursor-pointer" @onclick="Reset">Reset</button>
        <button type="button" class="grow bg-sky-800 hover:bg-sky-700 rounded-lg py-4 cursor-pointer" @onclick="CheckForMatch">Check Matches</button>
        <input class="grow bg-cyan-700 hover:bg-cyan-600 rounded-lg py-4 cursor-pointer" type="submit" value="Add Task" />
    </div>
</EditForm>

@code {
    private ListGenModel Model { get; set; }

    private Selection.SelectionModel SelectionModel { get; set; } = new();

    protected override void OnInitialized()
    {
        this.Model = new();
        base.OnInitialized();
    }


    private void Reset()
    {
        Model.title = "";
        Model.addLabels = false;
        Model.amountOfItems = 1;
    }


    private void CheckForMatch()
    {
        SelectionValidator.CheckSelectionMatches(SelectionModel);
    }


    private void OnSelectionUpdated(Selection.SelectionModel selectionModel)
    {
        SelectionModel = selectionModel;
    }


    private void Submit()
    {
        // Validate selection
        if (!SelectionValidator.Validate(SelectionModel)) {
            return;
        }

        // Create selection class from model
        TagTreePointer pointer = PdfManager.GetTagRoot();
        Pdf_Acc_Toolset.Services.Tools.Selection.Selection selection = SelectionValidator.CreateSelection(SelectionModel, pointer);
        if (selection == null) {
            return;
        }

        // Create the task
        ListGeneration generation = new(
            PdfManager.GetDocument(), selection, Model.title, Model.amountOfItems, Model.addLabels
        );
        // Add the task to the queue
        TaskManager.AddTask(generation);

        // Reset the modal (to do - show a notification that it worked or something)
        Reset();
    }


    public class ListGenModel
    {
        public string title { get; set; }

        [Range(1, 999, ErrorMessage = "Amount must be greater than 0")]
        public int amountOfItems { get; set; } = 1;

        public bool addLabels { get; set; }
    }
}
