@* Copyright (C) Jonathan Shull - See license file at github.com/amytho/pdf-acc-toolset *@

@layout DocumentationLayout
@using Pdf_Acc_Toolset.Services.UI;
@page "/docs/tools/color-replacer"
@page "/docs/tools/color_replacer"
@page "/docs/tools/colorReplacer"


<h1 id="colorReplacer">Color Replacer</h1>

<p>This tool allows for colors of text and shapes to be changed without breaking the tag structure. Adobe Acrobat can change the colors, but it breaks the document structure. This tool will not do that.</p>

<p>
    You can modify the fill and stroke color. The document will show all of the available colors below the UI. These are what you are able to replace. This may take some time to appear depending on the size of the document.
</p>

<h2 id="parameters">Parameters</h2>

<div>
    <table>
        <tr>
            <th>Parameter</th>
            <th>Purpose</th>
        </tr>
        <tr>
            <td>Color Category</td>
            <td>Replace the fill (inner) or the stroke (outer). Stroke is commonly used for underlining links.</td>
        </tr>
        <tr>
            <td>Target Color</td>
            <td>This color will be replaced. Select one of the available colors from below the main UI.</td>
        </tr>
        <tr>
            <td>Replacement Color</td>
            <td>This color will replace the target color. It uses the RGB format.</td>
        </tr>
    </table>
</div>

<h2 id="output">Output</h2>

<p>
    Changing the text color to meet color contrast requirements.
</p>

<img src="/img/docs/colorExample.png" alt="Using the color replacer to switch yellow text on a white background to black." title="Output of the color replacer tool">

@code {
    protected override void OnInitialized()
    {
        // Make a new list of toc items
        List<TocItem> list = new List<TocItem>();
        // Set the items
        list.Add(new TocItem("colorReplacer", 1, "Color Replacer"));
        list.Add(new TocItem("parameters", 2, "Parameters"));
        list.Add(new TocItem("output", 2, "Output"));
        // Send to TOC service
        TocService.SetToc(list);
        base.OnInitialized();
    }
}
