@* Copyright (C) Jonathan Shull - See license file at github.com/amytho/pdf-acc-toolset *@
<p>
    This selection will include every tag. <b>This will ignore any limits you have set!</b>
</p>

<p class="mt-2">
    If you want every tag, use this selection type.
</p>