@* Copyright (C) Jonathan Shull - See license file at github.com/amytho/pdf-acc-toolset *@
<p>
    This selection will target the document root tag. This is the easiest selection method.
</p>

<p class="mt-2">
    If you don't mind moving a tag yourself, choose this selection type.
</p>