@page "/docs"

<h2>Documentation</h2>

<p>
    Welcome to the docs! These pages contain all of the info related to the project. If you can't find what you are looking for, consider <a href="https://github.com/amytho/pdf-acc-toolset">making an issue</a>
</p>

<p>
    Select a page from the left-hand navigation menu. When you are done reading, return to the edit section. To avoid losing any PDF that is in the edit process, do not close this tab! You must return to the edit section from the nav menu as opening a new tab counts as a new instance of the application.
</p>

<div>
    
</div>