@* Copyright (C) Jonathan Shull - See license file at github.com/amytho/pdf-acc-toolset *@
@layout DocumentationLayout
@using Pdf_Acc_Toolset.Services.UI;
@page "/docs/selection/attribute"

<h1 id="attrSelection">Attribute Selection</h1>

<p>This selection allows you to target a tag with a specific attribute. You can use this to target a specific tag anywhere in the document. You can also target multiple tags with a given attribute.</p>

<p>
    You can choose any of the below attributes:
</p>

<ul>
    <li>Id: The ID of a tag. Only use an existing ID, do not add your own.</li>
    <li>Title: The easiest attribute to use. Give a tag a title in Acrobat or any other program and target it with this selection.</li>
    <li>Actual Text: Target a tag with the given actual text.</li>
    <li>Alt Text: Target a tag with the given alt text.</li>
</ul>

<p>
    Title is the preferred attribute because most PDF programs display the title of the tag in the tree. This makes it easy to modify and see the result. You should remove the title when you are done.
</p>

<img src="/img/docs/titleExample.png" alt="Tag tree showing the title of a tag" title="Tag title in PAC3.">


<p>This selection may have multiple targets. Use the <a title="Limiting Selection" href="/docs/selection/limit">limit selection</a> feature accordingly.</p>

@code {
    protected override void OnInitialized()
    {
        // Make a new list of toc items
        List<TocItem> list = new List<TocItem>();
        // Set the items
        list.Add(new TocItem("attrSelection", 1, "Attribute  Selection"));
        // Send to TOC service
        TocService.SetToc(list);
        base.OnInitialized();
    }
}
