@* Copyright (C) Jonathan Shull - See license file at github.com/amytho/pdf-acc-toolset *@
@layout DocumentationLayout
@using Pdf_Acc_Toolset.Services.UI;
@page "/docs/selection/tag"
@page "/docs/selection/tags"

<h1 id="tagSelection">Tag Selection</h1>

<p>This selection allows you to target a type of tag. This selection is commonly used for:</p>
<ul>
    <li>Selecting every <i>figure</i> tag to add alt text.</li>
    <li>Selecting every <i>h6</i> to add a new tag below each section of the document.</li>
    <li>Selecting a tag that only appears once.</li>
    <li>Selecting every instance of a tag.</li>
</ul>

<p>This selection will likely have multiple targets. Use the <a title="Limiting Selection" href="/docs/selection/limit">limit selection</a> feature accordingly.</p>

@code {
    protected override void OnInitialized()
    {
        // Make a new list of toc items
        List<TocItem> list = new List<TocItem>();
        // Set the items
        list.Add(new TocItem("tagSelection", 1, "Tag Selection"));
        // Send to TOC service
        TocService.SetToc(list);
        base.OnInitialized();
    }
}
