@* Copyright (C) Jonathan Shull - See license file at github.com/amytho/pdf-acc-toolset *@
@page "/about"

<PageTitle>About</PageTitle>

<div class="prose-invert prose-sky prose lg:prose-xl w-full max-w-none pb-4">
    <h1>
        About
    </h1>

    <h2>Purpose</h2>
    <p>
        The Pdf Acc (Accessibility) Toolset is a utility for making PDFs accessible. It has a variety of tools to assist in the remediation process. Most of them deal with the tag tree. Since many operations are repetitive by nature, they are easily automated. The toolset can also help in setting basic PDF metadata. These features will expand over time to cover more parts of the accessibility process.
    </p>

    <p>
        Feature requests can be made on the <a target="_blank" title="Github Issue Page" href="https://github.com/amytho/pdf-acc-toolset">issues page</a>. Alternatively, you can fork the project and add the feature yourself. The codebase is well documented and the existing tool and selection system are easy to hook into.
    </p>

    <h3>Tech Stack</h3>
    <p>
        The Toolset is a .NET Blazor WASM (Web Assembly) application. The UI is in HTML and CSS, while the logic is in C#. It is compiled into Web Assembly to run in the browser. All processing is done locally. PDF modification is done with the iText library.

        The <a target="_blank" title="Github Repo" href="https://github.com/aMytho/Pdf-Acc-Toolset">source code</a> is freely available. Developers are encouraged to contribute if they have a feature they want added.
    </p>

    <h3>License</h3>
    <p>
        The Toolset is under the AGPLv3 license.
    </p>

    <h4>iText</h4>
    <p>
        iText is distributed under the AGLPLv3 license as it uses the community edition.
        This project (Pdf Toolset) does not modify the iText software in any way.
        Their license can be seen on the <a target="_blank" href="https://itextpdf.com/how-buy/legal/agpl-gnu-affero-general-public-license">license</a> page.
    </p>
</div>