@page "/about"
<h2 class="text-4xl font-bold">
    About
</h2>

<h3 class="text-xl">Purpose</h3>
<p class="mt-2">
    The Pdf Acc (Accessibility) Toolset is a utility for making PDFs accessible. The remediation process was primarily done with Adobe Acrobat. However, Acrobat has loads of bugs and is missing several key productivity features. This app will help to speed up certain parts of the remediation process.
</p>

<hr class="w-11/12 text-center m-4" />

<h3 class="text-xl">Tech Stack</h3>
<p class="mt-2">
    The Toolset is a .NET Blazor WASM (Web Assembly) application. The UI is in HTML and CSS, while the logic is in C#. It is compiled into Web Assembly to run in the browser. PDF modification is done with the iText library.

    The <a title="Github Repo" href="https://github.com/aMytho/Pdf-Acc-Toolset">source code</a> is freely available. Developers are encouraged to contribute if they have a feature they want added.
</p>

<hr class="w-11/12 text-center m-4" />

<h3 class="text-xl">License</h3>
<p class="mt-2">
    The Toolset is under the AGPL license. Several aspects of this project are under their own, separate license.
</p>

<h4 class="text-lg">iText</h4>
<p class="mt-1">
    iText is distributed under the AGLPLv3 license as it uses the community edition.
    This project (Pdf Toolset) does not modify the iText software in any way.
    Their license can be seen on the <a href="https://itextpdf.com/how-buy/legal/agpl-gnu-affero-general-public-license">license</a> page.
</p>

<h4 class="text-lg">Matterhorn Protocol</h4>
<p class="mt-1">
    Copyright © 2021 PDF Association.
    <br>
    This work is licensed under the Creative Commons Attribution 4.0
    International License. To view a copy of this license, visit
    https://creativecommons.org/licenses/by/4.0/
    or send a letter to Creative Commons,
    PO Box 1866, Mountain View, CA 94042, USA.
    <br>
    PDF Association -
    Friedenstr. 2A · 16321 Bernau bei Berlin · Germany, E-mail: copyright@pdfa.org, Web: www.pdfa.org
</p>