@* Copyright (C) Jonathan Shull - See license file at github.com/amytho/pdf-acc-toolset *@
@page "/alpha"
<div class="prose-invert prose-sky prose lg:prose-xl w-full max-w-none pb-4">
    <h1>
        Alpha
    </h1>

    <p>This tool is currently in a public alpha. This means that some features are missing and others may not work as intended. While this an early state, it cannot harm your PDFs as the source file is never modified. Always check the exported PDF to ensure it meets your expectations.</p>

    <p>You can report any bugs or unexpected behavior on our <a title="Issues" href="https://github.com/amytho/pdf-acc-toolset/issues">Issues Page</a>.</p>

    <p>This project will soon be moving to Github Pages with a custom domain name. I have not yet decided on the name. To avoid losing the current site link, consider adding a bookmark for our <a title="Repository" href="https://github.com/amytho/pdf-acc-toolset">Repo Page</a>. This will contain the source code and the new link when it is ready.</p>

    <p>Thanks for testing!</p>

    <h3>License</h3>
    <p>
        The Toolset is under the AGPLv3 license.
    </p>

    <h4>iText</h4>
    <p>
        iText is distributed under the AGLPLv3 license as it uses the community edition.
        This project (Pdf Toolset) does not modify the iText software in any way.
        Their license can be seen on the <a title="iText License" href="https://itextpdf.com/how-buy/legal/agpl-gnu-affero-general-public-license">license</a> page.
    </p>
</div>