@* Copyright (C) Jonathan Shull - See license file at github.com/amytho/pdf-acc-toolset *@
@page "/beta"
<div class="prose-invert prose-sky prose lg:prose-xl w-full max-w-none pb-4">
    <h1>
        Beta
    </h1>

    <p>This tool is currently in a public beta. This means that some features are missing and others may not work as intended. While this project is an early state, it cannot harm your PDFs as the source file is never modified. <b>Always check the exported PDF to ensure it meets your expectations.</b></p>

    <p>You can report any bugs or unexpected behavior on our <a target="_blank" title="Issues" href="https://github.com/amytho/pdf-acc-toolset/issues">Issues Page</a>.</p>

    <p>Thanks for testing!</p>

    <h3>License</h3>
    <p>
        The Toolset is under the AGPLv3 license.
    </p>

    <h4>iText</h4>
    <p>
        iText is distributed under the AGLPLv3 license as it uses the community edition.
        This project (Pdf Toolset) does not modify the iText software in any way.
        Their license can be seen on the <a target="_blank" title="iText License" href="https://itextpdf.com/how-buy/legal/agpl-gnu-affero-general-public-license">license</a> page.
    </p>
</div>