@using Pdf_Acc_Toolset.Services;
@page "/counter"

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<InputFile OnChange="@Load" />

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    public async void Load(InputFileChangeEventArgs e) {
        // To-do: update file size limit.
        // Move from maui?
        MemoryStream ms = new MemoryStream();
        await e.File.OpenReadStream().CopyToAsync(ms);
        ms.Position = 0;
        PdfManager.Temp2(ms);
    }
}
