@using Pdf_Acc_Toolset.Pages.Import;
@inject NavigationManager Navigation;

@page "/"

<h1 class="text-6xl font-extrabold">PDF Acc Toolset</h1>

<p class="mt-4 text-lg">Welcome to the Toolset! This app will help you with the remediation process of PDFs. Feel free to read
    our <a href="/docs">Documentation</a> or experiment yourself.</p>
<p class="mt-2 text-lg">We suggest you keep your original document in case you decide to revert changes.</p>

<hr class="w-11/12 text-center m-4" />

@if (showGetStarted) {
    <div class="flex flex-wrap px-2 gap-2 space-x-0 lg:space-x-4">
        <div>
            <h2 class="text-4xl font-bold">File Selection</h2>
            <p>Select the Get Started button to begin! The PDF never leaves your device.</p>
        </div>
        <form onsubmit="event.preventDefault()" class="grow">
            <InputFile id="inputFile" OnChange="@UploadFile" accept=".pdf" class="hidden">Import</InputFile>
            <label for="inputFile" class="block border-solid bg-emerald-500 hover:bg-emerald-400 hover:bg-opacity-60 bg-opacity-60 border-2 border-emerald-500 p-4 w-full
                    h-full rounded-lg text-lg cursor-pointer text-center">
                Get Started
            </label>
        </form>
    </div>
}


@if (@showReimportWarning)
{
    <p class="text-red-500 m-2 font-bold">
        Importing a new PDF will remove all of your queued changes! Save the current PDF to avoid losing them.
    </p>
}


<!-- Show the import screen when a PDF is selected -->
<div>
    @if (showImport)
    {
        <ImportSettings OnImportConfirmed="OnImportSet" initialConfig="ConvertMetadataToImportDefault()" />
    }
</div>

<!-- Show the password input if PDF requires it -->
<div class="max-w-md">
    @if (showPassword) {
        <ImportPassword OnPasswordSubmit="OnPasswordSet"/>
    }
</div>