@using Pdf_Acc_Toolset.Services;
@using Pdf_Acc_Toolset.Services.Util;
@inject NavigationManager Navigation

@page "/"

<h1 class="text-6xl font-extrabold">PDF Acc Toolset</h1>

<p class="mt-4 text-lg">Welcome to the Toolset! This app will help you with the remediation process of PDFs. Feel free to read
    our <a href="/docs">Documentation</a> or experiment yourself.</p>
<p class="mt-2 text-lg">We suggest you keep your original document in case you decide to revert changes.</p>

<hr class="w-11/12 text-center m-4" />

<div class="flex flex-wrap px-2 gap-2 space-x-0 lg:space-x-4">
    <div>
        <h2 class="text-4xl font-bold">File Selection</h2>
        <p>Select the Get Started button to begin! The PDF never leaves your device.</p>
    </div>
    <form onsubmit="event.preventDefault()" class="grow">
        <InputFile id="inputFile" OnChange="@UploadFile" accept=".pdf" class="hidden">Import</InputFile>
        <label for="inputFile" class="block border-solid bg-emerald-500 hover:bg-emerald-400 hover:bg-opacity-60 bg-opacity-60 border-2 border-emerald-500 p-4 w-full
                h-full rounded-lg text-lg cursor-pointer text-center">
            Get Started
        </label>
    </form>
</div>


@if (@showReimportWarning)
{
    <p class="text-red-500 m-2 font-bold">
        Importing a new PDF will remove all of your queued changes! Save the current PDF to avoid losing them.
    </p>
}


<!-- Show the import screen when a PDF is selected -->
<div>
    @if (showImport == true)
    {
        <ImportSettings OnImportConfirmed="OnImportSet" initialConfig="ConvertMetadataToImportDefault()" />
    }
</div>


@code {
    private bool showImport = false;
    private bool showReimportWarning = false;

    private PdfImportConfig import;
    private MemoryStream ms;

    /// <summary>
    /// Requests an uploaded file and sends it to the PDF manager
    /// </summary>
    private async void UploadFile(InputFileChangeEventArgs e)
    {
        Console.WriteLine("Starting Import...");
        // Validate the PDF, accept only 1, must be a pdf
        if (e.FileCount != 1 || !e.File.Name.EndsWith("pdf"))
        {
            NotificationUtil.Inform(NotificationType.Error,
                "Import Failed. Ensure that a single PDF was selected."
            );
            return;
        }

        Console.WriteLine("Validated successfully");
        // Open a stream for the file
        try {
            Console.WriteLine("The file is " + e.File.Size + " bytes.");
            ms = new MemoryStream(((int)e.File.Size));
            await e.File.OpenReadStream(e.File.Size).CopyToAsync(ms);
            ms.Position = 0;
        } catch (IOException)
        {
            NotificationUtil.Inform(NotificationType.Error,
                "Import Failed. Ensure that a valid PDF was selected"
            );
            return;
        } catch (Exception)
        {
            NotificationUtil.Inform(NotificationType.Error,
                "Unknown PDF import error."
            );
            return;
        }


        // Send it to the PDF manager for processing
        // This ensures that the PDF can be accessed (no file permission issues, file corruption, etc.)
        var reader = PdfManager.SetInputFile(ms);
        // Handle failed reads
        if (!reader.success)
        {
            return;
        }

        Console.WriteLine("Import Reader Created");

        // Request metadata for the PDF. We pass this to the import component later
        this.import = PdfManager.GetMetadata(reader.Data);
        // Add the filename
        this.import.Filename = e.File.Name;

        // Clear any existing tasks
        if (!TaskManager.IsEmpty()) {
            TaskManager.RemoveTasks();
        }

        // Request import settings from user
        this.showImport = true;
        StateHasChanged();
    }

    private void OnImportSet(ImportSettings.ImportSelection import)
    {
        NotificationUtil.Inform(NotificationType.Success,
            "Import Complete! You may begin the edit process."
        );

        // Move to the next section
        this.showImport = false;

        // based on the user settings, set the metadata for the output file
        this.import.Title = import.Title;
        this.import.Lang = import.Lang;
        this.import.Standard = import.Standard;
        this.import.Filename = import.Filename;

        Console.WriteLine("Saved import settings.");

        this.ms.Position = 0;
        // Set output
        PdfManager.SetOutputFile(this.ms, this.import);
        // Remove our local version from memory
        this.ms.Dispose();

        Console.WriteLine("Writable file is ready");

        // Switch to the tools page
        Navigation.NavigateTo("/tools");
    }

    /// <summary>
    /// Returns an import selection from the metadata (type conversion)
    /// </summary>
    /// <returns></returns>
    private ImportSettings.ImportSelection ConvertMetadataToImportDefault()
    {
        return new ImportSettings.ImportSelection(this.import.Title, this.import.Lang, this.import.Standard,
        this.import.Filename);
    }

    protected override void OnInitialized()
    {
        // If the user navigated back to the toolbox, show the right page.
        if (PdfManager.outFile != null)
        {
            this.showImport = false;
            this.showReimportWarning = true;
        }
        base.OnInitialized();
    }
}