@using Pdf_Acc_Toolset.Services.Tools.Selection
@using Pdf_Acc_Toolset.Services
@page "/testing"

<h1>Testing env </h1>



@code {
    protected override void OnInitialized()
    {
        foreach( var task in TaskManager.GetAccessibilityTasks()) {
                Console.WriteLine(12);
                task.Selection.FindElements();
            foreach (var selection in task.Selection.GetSelection()) {
                Console.WriteLine(selection.GetProperties().GetActualText());
            }
        }
    }
}