@* Copyright (C) Jonathan Shull - See license file at github.com/amytho/pdf-acc-toolset *@
<div class="rounded-full font-semibold py-1 px-2 leading-normal bg-blue-600 hover:bg-blue-500 m-1">
    <p>@content</p>
</div>


@code {
    [Parameter]
    public string content { get; set; }
}