@* Copyright (C) Jonathan Shull - See license file at github.com/amytho/pdf-acc-toolset *@
@inherits LayoutComponentBase
@using Pdf_Acc_Toolset.Services.UI

<div class="page">
    <div class="sidebar">
        <NavMenu menu="NavMenu.NavMenus.Docs" />
    </div>

    <main>
        <Topbar />

        <div class="p-4 flex flex-row flex-wrap justify-between md:w-full">
            <article class="prose-invert prose-sky prose lg:prose-xl" style="max-width: 80%;">
                @Body
            </article>

            <div class="flex flex-col items-baseline gap-y-4 text-lg font-semibold">
                @if (tocItems.Count > 0) {
                    <h2 class="text-slate-100">Table of Contents</h2>
                }
                @foreach (TocItem item in tocItems)
                {
                    <div class="ml-2">
                        <LocalNavigation elemId="@item.id" label="@item.label" />
                    </div>
                }
            </div>
        </div>

    @* Override the blazor link handling for these pages *@
    <LocalNavigation />
    </main>
</div>

@code {
    private List<TocItem> tocItems = new List<TocItem>();
    protected override void OnInitialized()
    {
        TocService.tocChanged += GenerateToc;
        base.OnInitialized();
    }

    private void GenerateToc(object sender, List<TocItem> list)
    {
        Console.WriteLine("Items Changed");
        tocItems = list;
        StateHasChanged();
    }
}