@* Copyright (C) Jonathan Shull - See license file at github.com/amytho/pdf-acc-toolset *@
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu menu="NavMenu.NavMenus.Main" />
    </div>

    <main class="pb-8">
        <Topbar />

        <article class="content px-4 text-white">
            @Body
        </article>
    </main>
</div>
