<div class="top-row navbar navbar-dark">
    <div class="flex justify-between sm:justify-center h-full">
        <a class="navbar-brand self-center" href="">Pdf-Acc-Toolset</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            Toggle
        </button>
    </div>
</div>

<div class="@NavMenuCssClass">
    <nav class="flex flex-col">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Tools
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tasks">
                <span class="oi oi-plus" aria-hidden="true"></span> Queued Tasks
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link cursor-not-allowed opacity-50" href="counter" title="Coming Soon">
                <span class="oi oi-plus" aria-hidden="true"></span> Validation
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link cursor-not-allowed opacity-50" href="download" title="Coming Soon">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Matterhorn Protocol
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link cursor-not-allowed opacity-50" href="fetchdata" title="Coming Soon">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Documentation
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link cursor-not-allowed opacity-50" href="fetchdata" title="Coming Soon">
                <span class="oi oi-list-rich" aria-hidden="true"></span> History
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="save">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Save
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = false;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
