@* Copyright (C) Jonathan Shull - See license file at github.com/amytho/pdf-acc-toolset *@
<div class="top-row px-4">
    <a style="color: coral;" href="/alpha">Alpha Notice</a>
    <a href="/about">About</a>
</div>