@* Copyright (C) Jonathan Shull - See license file at github.com/amytho/pdf-acc-toolset *@
<!--
    This file holds tailwind styles that cannot be detected by the compiler.
    Mostly used for conditional classes.
-->
<div class="opacity-60 grayscale">

</div>